backend/.venv
backend/.env
backend/.data
backend/__pycache__
backend/**/__pycache__
backend/.pytest_cache
backend/.mypy_cache
backend/.ruff_cache
backend/htmlcov

frontend/node_modules
frontend/dist

.git
*.md
charts
